<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Generator</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        span:hover {
            background: #0f0;
            transition: 0s; 
        }
    </style>
</head>
<body>
    <form action="/result" method="post">
        {{range .CountSlice}}
        <span></span>
        {{end}} 
        <div class="signin">
            <div class="content">
                <h2>Ascii-art</h2>
                <div class="form">
                    <div class="inputBx">
                        <textarea style="background: #333;  position: relative;  width:  100%; font-weight: 500; font-size: 1em; border: none; outline: none; padding: 25px 10px 7.5px; border-radius: 4px;  color: #fff;  font-weight: 500;" id="textarea" name="text" type="text" placeholder="Enter Text" required autocomplete="off"></textarea>  
                    </div>
                    <select id="banner" name="banner" class="opt">
                        <option value="standard">Standard</option>
                        <option value="shadow">Shadow</option>
                        <option value="thinkertoy">Thinkertoy</option>
                    </select>
                    <div class="inputBx">
                        <input type="submit" name="generate" value="Generate ASCII Art">
                    </div>
                </div>
            </div>
        </div>     
    </form> 
    <script src="../static/app.js"></script>
</body>
</html>